//extends layout

doctype html
html
	head
		style
			include ../assets/style.css

body
	h1= title
	p welcome to #{title}

	div.main
		p just a div
		.head
			h1 When is the next bin?

		div.binImage
			p here is where the bin image goes

		div.binText
			p here is the text for the next bin collection

		.binDate
			p here is where the date for the bin goes