//extends layout

doctype html
html
	head
		style
			include ../assets/style.css

body
	div.main
		.head
			h1 When Is The Next Bin?
			h1= title

		div.binImage
			p here is where the bin image goes

		div.binText
			p here is the text for the next bin collection

			if bins.length
				P FOUND BINS
				each bin in bins
					p= bin.collectionDate
					p= bin.binColour
			else
				P NO BINS FOUND

		.binDate
			p here is where the date for the bin goes