* {font-family:arial, sans-serif;}

p {
	font-family: "Times New Roman", Times, serif;
	color: DodgerBlue;
}

div {
	background-color: LightGray;
}

h1 {
	text-align: center;
}

.binImage {
	text-align: center;
}
.binDate {
	text-align: center;
	font-size: xx-large;
}


.binText{
	text-align: center;
}